{{- /*
  Fillings as a table, one a row.

  Params (dict):
    fillings  rows of the fillings table
    batch     true for a column with the batch of each filling
    article   true for a column with the article of each filling
*/ -}}
{{- $byId := (partialCached "db/index.html" "db").byId }}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm db-table">
    <thead>
      <tr>
        <th scope="col">Abfüllung</th>
        {{- if .article }}<th scope="col">Artikel</th>{{ end }}
        {{- if .batch }}<th scope="col">Los</th>{{ end }}
        <th scope="col">Abgefüllt am</th>
        <th scope="col"><abbr title="Mindesthaltbarkeitsdatum">MHD</abbr></th>
        <th scope="col"><abbr title="Ob die Gläser das Siegel „Geprüfte Qualität – Bayern“ tragen: eine Eigenschaft des Artikels.">GQ-Siegel</abbr></th>
        <th scope="col"><abbr title="Kontrollnummern der Gewährverschlüsse des Deutschen Imkerbunds">DIB-Kontrollnummern</abbr></th>
      </tr>
    </thead>
    <tbody>
      {{- range .fillings }}
      <tr>
        <td>{{ partial "db/crosslink.html" (dict "id" .id) }}</td>
        {{- if $.article }}<td>{{ partial "db/crosslink.html" (dict "id" (printf "SKU-%s" .sku) "text" .label) }}</td>{{ end }}
        {{- if $.batch }}<td>{{ partial "db/crosslink.html" (dict "id" .batch_id) }}</td>{{ end }}
        <td>{{ partial "db/date.html" (dict "date" .date) }}</td>
        <td>{{ partial "db/date.html" (dict "date" .best_before_date) }}</td>
        <td>{{ with index $byId (printf "SKU-%s" .sku) }}{{ partial "db/yesno.html" .gqb_certified }}{{ end }}</td>
        <td>{{ .dib_field }}</td>
      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
