<tr><th>Losnummer</th><td>{{ .Params.id }}</td></tr>
<tr><th>Sortenempfehlung</th><td>{{ .Params.honey_type }}</td></tr>
<tr><th>Gewicht</th><td>{{ partial "db/de-number.html" (dict "format" "%.2f kg" "value" .Params.weight) }}</td></tr>
<tr><th>Geprüfte Qualität Bayern</th><td>
    {{ if .Params.certified }}
        ja
    {{ else }}
        nein
    {{ end }}
</td></tr>
{{ with .Params.fillings }}
    <tr><th>Abfüllungen</th>
    <td>{{ partial "db/filling_list.html" (dict "fillings" . "showBatchLink" false) }}</td></tr>
{{ end }}
{{ with .Params.buckets }}
    <tr><th>Eimer</th><td>
        <ul>
            {{ range . }}
                <li>
                    {{ partial "db/crosslink.html" (dict "id" .id) }}
                    <ul>
                        <li><strong>Wassergehalt (Stichprobe)</strong>: {{ partial "db/de-number.html" (dict "format" "%.2f %%" "value" (math.Mul .moisture 100)) }}</li>
                        <li><strong>Gewicht</strong>: {{ partial "db/de-number.html" (dict "format" "%.2f kg" "value" .weight) }}</li>
                        <li><strong>Schleuderung</strong>: {{ partial "db/crosslink.html" (dict "id" .centrifugation_id) }}</li>
                    </ul>
                </li>
            {{ end }}
        </ul>
    </td></tr>
{{ end }}
