<tr><th scope="row"><abbr title="Stock Keeping Unit">SKU</abbr></th><td>{{ .Params.sku }}</td></tr>
{{ with .Params.gtin }}
    <tr><th scope="row"><abbr title="Global Trade Item Number (vormals EAN)">GTIN</abbr></th><td>{{ partial "db/link_gtin.html" (dict "gtin" .) }}</td></tr>
{{ end }}

{{ with .Params.description }}
    <tr><th scope="row">Beschreibung</th><td>{{ . }}</td></tr>
{{ else with .Params.auto_description }}
    <tr><th scope="row">Beschreibung</th><td>{{ . }}</td></tr>
{{ end }}
{{ with .Params.brand }}
    <tr><th scope="row">Marke</th><td>{{ .name }}</td></tr>
    {{ with .hint }}
        <tr><th scope="row">Produkthinweis</th><td>{{ . }}</td></tr>
    {{ end }}
    {{ with .corporate_claim }}
        <tr><th scope="row">Marketingbotschaft</th><td>{{ . }}</td></tr>
    {{ end }}
{{ end }}
{{ with .Params.packaging }}
    <tr><th scope="row">Gebinde</th><td>{{ .label }}{{ if gt (int .packaging_unit) 1 }}, {{ .packaging_type }} zu {{ .packaging_unit }}{{ end }}</td></tr>
{{ end }}
<tr><th scope="row">Mit Siegel „Geprüfte Qualität – Bayern“</th><td>{{ partial "db/yesno.html" .Params.gqb_certified }}</td></tr>
