<tr><th>Schleuderungsnummer</th><td>{{ .Params.id }}</td></tr>
<tr><th>Schleuderdatum</th><td>{{ partial "db/date" (dict "date" .Params.date) }}</td></tr>
<tr><th>Gewicht</th><td>{{ strings.Replace (fmt.Printf "%.2f kg" .Params.weight) "." "," }}</td></tr>
{{ with .Params.batches }}
    <tr><th>Honiglose</th>
    <td>
        <ul>
            {{ range . }}
                <li>{{ partial "db/crosslink" (dict "id" .id) }}</li>
            {{ end }}
        </ul>
    </td></tr>
{{ end }}
{{ with .Params.buckets }}
    <tr><th>Eimer</th>
    <td>
        <ul>
            {{ range . }}
                <li>{{ partial "db/crosslink" (dict "id" .id) }}</li>
            {{ end }}
        </ul>
    </td></tr>
{{ end }}
{{ with .Params.comment }}
    <tr><th>Kommentar</th><td>{{ . }}</td></tr>
{{ end }}
