<!doctype html>
<html lang="{{ $.Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  {{ if $.Params.noindex }}
  {{ end }}
  <title>{{ block "title" . }}
    {{ .Title }}
    {{ end }}
  </title>

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end }}

  {{ with $favicon := resources.Get "favicon.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ ( $favicon.Fill "16x16" ).Permalink }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ ( $favicon.Fill "48x48" ).Permalink }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ ( $favicon.Fill "192x192" ).Permalink }}">
{{ end -}}
  {{ with $favicon := resources.Get "favicon.svg" }}
  <link rel="icon" href="{{ $favicon.Permalink }}">
{{ end -}}


  {{ block "css" . }}
    {{ $mainCSS := resources.Get "/css/main.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $mainCSS.Permalink }}">

    {{ range resources.Match "/css/*.css" }}
      {{ if (eq .Title "/css/main.css") }}
        {{ continue }}
      {{ end }}

      {{ $css := . | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{ end }}
  {{ end }}

  {{ block "js" . }}
    {{ with resources.Get "js/main.ts" }}
      {{ $opts := dict "format" "esm" }}
      {{ with . | js.Build $opts }}
        <script type="module" src="{{ .Permalink }}"></script>
      {{ end }}
    {{ end }}
  {{ end }}
</head>

<body>
    <header class="main-header">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      {{ block "banner" . }}

      {{ with $banner := resources.Get "/img/banner.jpg" | resources.Fingerprint }}
        <div class="banner-container">
          <img id="banner" src="{{ $banner.Permalink }}" height="230" width="920">

        {{ with $logo := resources.Get "/img/logo.png" | resources.Fingerprint }}
          <div class="overlay">
            <a href="{{ "" | absURL }}"><img id="logo" src="{{ $logo.Permalink }}" width="100" height="100"></a>
            <div id="logo-text" style="text-align: center;">Imkerei<br>BienenSteff</div>
          </div>
        {{ end }}
        </div>
        {{ end }}
      {{ end }}

      <nav aria-label="breadcrumb" class="breadcrumb">
        <ol>
          {{ range .Ancestors.Reverse }}
            <li>
              <a href="{{ .Permalink }}">{{ if .IsHome }}Home{{ else }}{{ .LinkTitle }}{{ end }}</a>
            </li>
          {{ end }}
          <li class="active">
            <a aria-current="page" href="{{ .Permalink }}">{{ if .IsHome }}Home{{ else }}{{ .LinkTitle }}{{ end }}</a>
          </li>
        </ol>
      </nav>
    </header>

    {{ block "main" . }}
    {{ end }}

    <footer class="main-footer">
      {{ partial "menu.html" (dict "menuID" "footer" "page" .) }}
    </footer>
</body>
</html>
