html {
    font-family: sans-serif;
}

@media (max-width: 576px) {
    .mobile-hide {
        display: none !important;
    }
}

body {
    max-width: 920px;
    margin: 0 auto;
    padding: 1rem;
      

}

header.main-header {
    margin-bottom: 1rem;

    .banner-container {
        position: relative;
        /* No idea why this is needed… The container is always 4px too large. */
        max-height: 230px;

        .overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            background: rgba(38, 38, 38, 0.4);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #logo {
                filter: saturate(55%);
            }

            #logo-text {
                color: white;
                font-weight: bold;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }

        #banner {
            /* height: 10rem; */
            max-width: 100%;
            object-fit: cover;
        }
    }
}

header.main-header,
footer.main-footer {
    nav {
        margin-bottom: 1.5rem;

        menu {
            padding: 0;

            li {
                display: inline;
            }

            li::after {
                content: " · ";
            }

            li:last-child:after {
                content: "";
            }

            a,
            a:visited {
                color: inherit;
            }

            a.active {
                font-weight: bold;
            }
        }
    }

    nav.breadcrumb {
        color: dimgray;
        font-size: 0.9rem;

        ol {
            margin-left: 0;
            padding-left: 0;

            li {
                display: inline;
            }

            li::after {
                content: " / ";
            }

            li:last-child:after {
                content: "";
            }
        }

        a,
        a:visited {
            color: inherit;
        }
    }
}


article.content {
    text-align: justify;
    hyphens: auto;
    margin: 0 auto;

    header {
        margin-bottom: 2rem;

        .meta,
        .tags {
            color: dimgray;
        }

        .tags {
            a {
                text-decoration: none;
                color: inherit;
            }

            a:hover {
                color: black;
            }
        }

        nav.article-nav {
            margin-top: 1rem;

            a.disabled {
                pointer-events: none;
                color: dimgray;
            }
        }
    }

    img,
    video {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .footnotes {
        font-size: 0.75rem;
    }

    :target {
        background-color: yellow;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            display: inline;
            text-decoration: underline;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 0.85rem;

        th,
        td {
            padding: 0.25rem;
            text-align: left;
            border: 1px solid lightgray;
        }

        tbody tr:nth-child(odd) {
            background: whitesmoke;
        }

        tbody tr.highlight {
            background-color: yellow;
        }

        tbody tr.expired {
            color: gray;
        }
    }

    figure {
        max-width: 80%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;

        figcaption {
            text-align: center;
        }

        .overlay-container {
            position: relative;
            width: max-content;
            max-width: 100%;
            margin: 0 auto;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            color: red;
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
        }
    }

    .info {
        padding: 1rem;
        /* …border: 1px dotted; */
        border-left: 0.2rem solid;
        background-color: rgb(227, 227, 227);

        /* TODO: Move to beehen.de custom styles. */
        .gscheidhaferl {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

}

.related {
    margin-top: 2rem;
    border-left: none;
}

main.index {
    h1 {
        font-size: 1.8rem;
    }

    .article-list {
        flex-grow: 1;
        
        article {
            padding: 1.5rem;
            margin-bottom: 2rem;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

            aside.post_image {
                margin-right: 2rem;
                overflow: hidden;
            }

            header {
                font-size: 1.4rem;

                hgroup {
                    h2 {
                        margin: 0;
                        color: inherit;
                        font-size: 1.4rem;
                        font-weight: normal;
                    }

                    p {
                        display: block;
                        font-size: 1rem;
                        color: rgb(69, 69, 69);
                        margin-top: 0.2rem;
                        margin-bottom: 0;
                    }
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                .tags {
                    font-size: 1rem;
                    color: rgb(69, 69, 69);
                    margin-top: 0.5rem;
                }
            }

            footer {
                margin-top: 0.5rem;
            }
        }
    }
}

footer.main-footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}

.text-center {
    text-align: center;
}
