{{ define "main" }}

<main class="single">
    <article class="content">
    <header>
        <h1>{{$.Title}}</h1>
    </header>

        {{.Content}}
        
    <hr>

        
{{ with resources.Get "/db/db.json" }}
    {{ with . | transform.Unmarshal }}
        {{ $data := sort .articles "sku" }}

        <div id="beetable">
        <table id="honeydb" class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Artikelnummer</th>
                <th>GTIN</th>
                <th>Marke</th>
                <th>Produktname</th>
            </tr>
        </thead>
        <tbody>

        {{ range $data }}
            <tr>
                <td>{{ partial "db/crosslink.html" (dict "id" .id "text" .sku) }}</td>
                <td>{{ partial "db/link_gtin.html" (dict "gtin" .gtin) }}</td>
            <td>{{ .brand }}</td>
            <td>{{ .name }} {{ .filling_quantity }}</td>
            </tr>
        {{ end }}

        </tbody>
        </table>
        </div>
    {{ end }}
{{ end }}
{{ end }}
