<script type="module">
  import { Beetable, DateTime, getDateParam } from "/js/main.js";

  let date = getDateParam();

  // Fill date picker with today default.
  document.querySelector("#beetable #input #date").value = date.toISODate();

  let target = document.querySelector("#beetable #output");
  let table = new Beetable(date);
  table.render(target);
</script>

<div id="beetable">
  <form action="" method="get" id="input">
    <label for="date">Tag X</label>
    <input name="date" type="date" id="date">
    <input type="submit">
  </form>

  <table id="output">
  <thead>
    <tr>
      <th><abbr title="Datum X an dem die Königin vom Volk entfernt wurde, z. B. durch Teilung des Volkes">Start (X)</abbr></th>
      <th><abbr title="Eine Nachschaffungskönigin schlüpft am Tag X+11, da zur Aufzucht ca. 2-tägige Larven verwendet werden">Kö schlüpft (X+11)</abbr></th>
      <th><abbr title="7 Tage nach Schlupf, also am Tag X+18 ist die Jungkönigin geschlechtsreif und führt bei gutem Wetter (>= 18°C den Hochzeitsflug durch), sie startet sofort nach der Heimkehr mit der Eiablage. Da das Wetter nicht vorhersehbar ist, wird der Start der Eiablage mit 8 Tagen nach Schlupf, also Tag X+19 angenommen.">Kö in Eilage (X+18)</abbr></th>
      <th><abbr title="Am Tag X+21 ist sämliche Arbeiterinnenbrut geschlüpft, am Tag X+24 auch sämtliche Drohnenbrut.">brutfrei (X+21)</abbr></th>
      <th><abbr title="Bei angenommener Eilage am Tag X+19 sind die ersten Zellen 9 Tage später, also am Tag X+28 verdeckelt.">verdeckelt (X+28)</abbr></th>
      <th><abbr title="21 Tage nach Eiablage also am Tag X+39 schlüpfen die ersten Jungbienen.">Jungbienen (X+39)</abbr></td>
    </tr>
  </thead>
  </table>
</div>
