<script type="module">
  import { renderBeeCalendar, getDateParam } from "/bundle.js";

  let date = getDateParam();

  // Fill date picker with today default.
  document.querySelector("#widget #input #date").value = date.toISODate();
  

  renderBeeCalendar("calendar");
</script>

<div id="widget">
  <form action="" method="get" id="input">
    <div class="form-group mb-2">
      <label for="date">Tag X</label>
      <input class="form-control form-control-sm" name="date" type="date" id="date">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <div class="mt-4" id="calendar"></div>
</div>