{{ $region := lower (.Get "region") }}
{{ $year := .Get "year" | default (now | dateFormat "2006") }}
{{ $cssID := printf "%s-%s-trachtnet-graph" $region $year }}

<script type="module">
  import { LineChart, getTrachtnetSeries, toTitleCase } from "/bundle.js";

  const region = "{{ $region }}";
  const cssID = "{{ $cssID }}";

  const thisYear = new Date("{{ $year }}").getFullYear();
  const years = Array.from({ length: 4 }, (_, i) => thisYear - i).reverse();

  const dom = document.getElementById(cssID);
  const data = await getTrachtnetSeries(years, region, true);

  const chart = new LineChart(data, `Trachtverlauf ${toTitleCase(region)}`);
  chart.render(cssID);
</script>

<div class="chart-container mb-4">
    <div class="card">
        <div class="card-body">
            <div id="{{ $cssID }}" style="height: 400px;"></div>
        </div>
    </div>
</div>