{{ $region := .Get "region" | default "Bayern" }}
{{ $cssID := printf "%sChartDerivative" $region }}

<script type="module">
  import { BarChart, getTrachtnetDerivative, toTitleCase } from "/bundle.js";

  const thisYear = new Date().getFullYear();
  const region = "{{ $region }}";
  const cssID = "{{ $cssID }}";

  const dom = document.getElementById(cssID);
  const data = await getTrachtnetDerivative(thisYear, region);

  const chart = new BarChart(data, `Trachtverlaufänderungen ${toTitleCase(region)}`);
  chart.render(cssID);
</script>

<div class="chart-container mb-4">
    <div class="card">
        <div class="card-body">
            <div id="{{ $cssID }}" style="height: 400px;"></div>
        </div>
    </div>
</div>