{{ $region := .Get "region" | default "Bayern" }}
{{ $year := .Get "year" | default (now | dateFormat "2006") }}
{{ $cssID := printf "%s-%s-trachtnet-derivative" $region $year }}

<script type="module">
  import { BarChart, getTrachtnetDerivative, toTitleCase } from "/bundle.js";

  const year = parseInt("{{ $year }}");
  const years = Array.from({ length: 4 }, (_, i) => year - i).reverse();
  const region = "{{ $region }}";
  const cssID = "{{ $cssID }}";

  const dom = document.getElementById(cssID);
  const data = await getTrachtnetDerivative(years, region);

  const chart = new BarChart(data, `Trachtänderungen ${toTitleCase(region)}`);
  chart.render(cssID);
</script>

<div class="chart-container mb-4">
    <div class="card">
        <div class="card-body">
            <div id="{{ $cssID }}" style="height: 400px;"></div>
        </div>
    </div>
</div>