<script type="module">
  import { getDateParam, DateTime, TUBCalendar } from "/bundle.js";

  let date = getDateParam();
  document.querySelector("#tub-calendar-widget #date-form #date-input").value = date.toISODate();

  let cal = new TUBCalendar("tub-calendar-widget");
  cal.render();
  cal.registerSubmitHandler();
</script>

<div id="tub-calendar-widget" class="mb-4">
  <form id="date-form" action="" method="get" id="input">
    <div class="form-group mb-2">
      <label for="date">Tag X</label>
      <input class="form-control form-control-sm" name="date" type="date" id="date-input">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <div class="mt-4" id="calendar"></div>
</div>