name: hugo-deploy
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 7 * * *' 
    - cron: '0 3 * * *' 
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Node.js
        uses: actions/setup-node@v6
      - name: Install npm deps
        run: npm ci
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build the assets
        run: npm run build
      - name: Build the website
        run: hugo build --ignoreCache
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          if_key_exists: fail
      - name: Deploy it
        run: |
          rsync -avz --delete public/ deploy@bienensteff.de:/srv/http/deploy/bienensteff.de
